#container {
    max-width: 50em;
    /* height: 70vh; */
    background-color: rgb(111, 12, 32);
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas: "top-left top-left top-right"
                          "game game game"
                          "btm-left btm-right btm-right";
    }
    
#computer-score, #how-to-play, #play-button, .popup {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #42c8f5;
}
    
canvas {
    background-color: #42c8f5;
    height: 600px;
    width: 700px;
    margin: auto;
    border: 1px solid red;
}
body {
    padding-top: 1em;
    text-align: center;
    background-color: peachpuff;
    background-size: cover;
    background-repeat: space;
  }
main {
    grid-area: game;
}
#play-button {
    cursor: pointer;
}
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #42c8f5;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #42c8f5;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
