#container {
    background-color: darkslategrey;
}
canvas {
    background-color: #42c8f5;
    height: 600px;
    width: 700px;
    margin: auto;
}
body {
    padding-top: 1em;
    text-align: center;
    background-color: peachpuff;
    background-size: cover;
    background-repeat: space;
  }
main {
    grid-area: game;
}
#play-button {
    cursor: pointer;
}
